<!DOCTYPE html>
<html>

<head>
    <title>Plex-lookup Settings</title>
    <script src="//unpkg.com/htmx.org@1.8.2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <!-- from https://github.com/picocss/pico -->
</head>

<body>
    <h1 class="container">Settings</h1>
    <h2 class="container">Plex</h2>
    <div class="container">
        <p class="container">Enter the <em
                data-tooltip="Find your Plex server IP by going to your server then go to settings, then remote-access. It is the private IP address."><a
                    href="https://plex.tv/web" target="_blank">Plex
                    Server IP</a></em>, <em data-tooltip="Find your X-Plex-Token by following this guide.
                "><a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/"
                    target="_blank">Plex X-Plex-Token </a></em> and <em
                data-tooltip="Use the same approach as for the X-Plex-Token. Select a Movie, view its XML then look for `librarySectionID` it should be a number.">Plex
                Movie Library ID</em> and to get started.
        </p>
        <input type="text" placeholder="Plex Server IP" name="plexIP" id="plexIP">
        <input type="text" placeholder="Plex X-Plex-Token" name="plexToken" id="plexToken">
        <button type="lookupPlex" hx-post="/settings/plexlibraries" class="container" hx-target="#table"
            hx-include="#plexIP, #plexToken" hx-boost="true">Lookup Plex libraries</button>
        <div id="table" class="container"></div>
        <input type="text" placeholder="Plex Movie Library Section ID" name="plexMovieLibraryID"
            id="plexMovieLibraryID">
        <input type="text" placeholder="Plex TV Series Library Section ID" name="plexTVLibraryID" id="plexTVLibraryID">
        <input type="text" placeholder="Plex Music Library Section ID" name="plexMusicLibraryID"
            id="plexMusicLibraryID">
    </div>
    <h2 class="container">Spotify</h2>
    <p class="container">Enter your Spotify client ID and secret to get started. You will need to follow the Spotify
        documentation to get these. <a href="https://developer.spotify.com/documentation/web-api/concepts/apps"
            target="_blank">Create
            an app on the Spotify developer dashboard</a>
        then get the client ID and secret.
    </p>
    <div class="container">
        <input type="text" placeholder="Spotify client ID" name="spotifyClientID" id="spotifyClientID">
        <input type="text" placeholder="Spotify Secret" name="spotifyClientSecret" id="spotifyClientSecret">
    </div>
    <div class="container">
        <button hx-post="/settings/save"
            hx-include="#plexMovieLibraryID, #plexTVLibraryID, #plexMusicLibraryID, #plexIP, #plexToken, #spotifyClientID, #spotifyClientSecret"
            hx-swap="outerHTML">Save</button>
    </div>
</body>

</html>