<!DOCTYPE html>
<html>

<head>
    <title>Plex lookup</title>
    <script src="//unpkg.com/htmx.org@1.8.2">
    </script>
    <script>
        function sortTable(n, b) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("movielist");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (b == true) {
                        if (dir == "asc") {
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    } else {
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <!-- from https://github.com/picocss/pico -->
</head>

<body>
    <h1 class="container">Plex lookup</h1>
    <p class="container">This is a simple tool to look up movies in a Plex library and find them on Amazon or Cinema
        Paradiso.</p>
    <form hx-post="/process" class="container">
        <p class="container">Enter the Plex server IP, library ID and token to get a list of all movies in the library.
        </p>
        <input type="text" placeholder="Plex server IP" name="plexIP">
        <input type="text" placeholder="Plex Library ID" name="plexLibraryID">
        <input type="text" placeholder="Plex Token" name="plexToken">
        <fieldset>
            <legend><strong>Lookup</strong></legend>
            <label for="amazon">
                <input type="radio" id="amazon" name="lookup" value="amazon" />
                Amazon
            </label>
            <label for="cinemaParadiso">
                <input type="radio" id="cinemaParadiso" name="lookup" value="cinemaParadiso" checked />
                Cinema Paradiso
            </label>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
    <div hx-get="/progress" hx-trigger="every 500ms" class="container"></div>
</body>

</html>